<div class="login-admin">
    <div class="login-box">
        <div class="login-logo">
            <a ui-sref="login"><img src="/images/favicon1.ico"><b> Dashboard</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Please input your email. We will confirm your account by email</p>
            <div class="alert alert-warning alert-dismissible" ng-show="rememberEmail">
                <h4><i class="icon fa fa-warning"></i> Alert!</h4> Please input your email !!!.
            </div>
            <div class="alert alert-success alert-dismissible" ng-show="success">
                <h4><i class="icon fa fa-success"></i> Success!</h4> Thank you we sened password to your email !!!.
            </div>
            <form>
                <div class="form-group has-feedback">
                    <input type="email" class="form-control" placeholder="Email" ng-model="email">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat" ng-click="emailPasswd()">Send Us</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
