<div class="login-admin">
    <div class="login-box">
        <div class="login-logo">
            <a ui-sref="login"><img src="public/assets/images/favicon1.ico"><b> Trang quản trị</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Đặt lại mật khẩu</p>
            <div class="alert alert-danger alert-dismissible flat" ng-show="alerMessage">
                <strong>Vui lòng nhập mật khẩu !</strong>
            </div>
            <div class="alert alert-info alert-dismissible flat" ng-show="resetDone">
                <strong>Cảm ơn bạn ! Đã thay đổi mật khẩu thành công</strong>
            </div>
            <form name="myForm">
                <input type="password" class="form-control" placeholder="Nhập mật khẩu mới" id="pw1" name="pw1" ng-model="pw1" ng-required="" />
                <br>
                <input type="password" class="form-control" placeholder="Nhập lại mật khẩu" id="pw2" name="pw2" ng-model="pw2" ng-required="" pw-check="pw1" />
                <div class="msg-block" ng-show="myForm.$error"> <span class="msg-error" ng-show="myForm.pw2.$error.pwmatch">Mật khẩu vừa nhập không trùng khớp</span>
                </div>
                <br>
                <button type="submit" ng-show="!myForm.pw2.$error.pwmatch" class="btn btn-primary btn-block btn-flat" ng-click="resetPassword()">Gửi</button>
            </form>
        </div>
    </div>
</div>
