<div class="content-wrapper">
    <section class="content-header">
        <h1>
        Người dùng
        <small>Bảng điều khiển</small>
      </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Thông tin người dùng</a></li>
            <li class="active">Quản lí người dùng</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-user-plus"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Thêm mới người dùng</span>
                        <a ui-sref="home.user.new">Thêm</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12" data-ng-init="countTotalUser()">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-user"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Tất cả người dùng</span>
                        <span class="info-box-number">{{totalUser}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12" data-ng-init="getAdmin()">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fa fa-expeditedssl"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Quản trị viên</span>
                        <span class="info-box-number">{{totalAdmin}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12" data-ng-init="getUserInactive()">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="fa  fa-ban"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Người dùng bị khóa</span>
                        <span class="info-box-number">{{userInactive}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Danh sách người dùng</h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered table-hover" width="100%" datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ask when you want to delete a user -->
    <div class="modal fade" id="askDelete" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Xóa người dùng</h4>
                </div>
                <div class="modal-body">
                    <p>Bạn có chắc chắn muốn xóa người dùng này ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="askDeleteUser()">Đồng ý</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end ask delete user -->
    <!-- ask when you want to inactive a user -->
    <div class="modal fade" id="askInactive" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Khóa tài khoản người dùng</h4>
                </div>
                <div class="modal-body">
                    <p>Bạn có chắc chắn muốn khóa người dùng này ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="askInactiveUser()">Đồng ý</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
                </div>
            </div>
        </div>
    </div>
</div>

