<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Chỉnh sửa</h3>
                    </div>
                    <div class="box-body">
                        <div class="box-body">
                            <div class="col-md-6">
                                <form role="form">
                                    <div class="form-group">
                                        <label>Tên lễ hội</label>
                                        <input class="form-control" type="text" ng-model="title" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label>Loại lễ hội</label>
                                        <select id="select2" class="form-control" ng-model="typeEvent" disabled>
                                            <option value="{{category._id}}" ng-repeat="category in allCategories">{{category.name}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Thành phố</label>
                                        <select class="form-control" ng-model="city" disabled>
                                            <option ng-repeat="province in allProvinces">{{province.name}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Quận/Huyện</label>
                                        <input class="form-control" type="text" ng-model="district" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label>Địa chỉ chi tiết</label>
                                        <textarea class="form-control" type="text" ng-model="mainAddress" disabled></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Mô tả</label>
                                        <textarea rows="2" class="form-control" type="text" ng-model="description" disabled></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Nội dung</label>
                                        <textarea class="form-control" type="text" ng-model="content" disabled></textarea>
                                    </div>
                                    <div class="event-group">
                                        <label>Sự kiện</label>
                                        <div class="event-item" ng-repeat="event in events">
                                            <div class="well">
                                                <p ng-model="eventName">{{event.name}}</p>
                                                <div class="pull-right">
                                                    <a href="" data-toggle="modal" data-target="#detailEvent" ng-click="showEvent(event._id)"><i class="fa fa-info-circle" aria-hidden="true"></i>Xem thêm</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <form role="form">
                                    <div class="form-group">
                                        <label>Thời gian bắt đầu</label>
                                        <div class="form-group">
                                            <div class='input-group date' id='datetimepicker1'>
                                                <input id="timebegin" type='text' class="form-control" ng-model="timebegin" disabled/>
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Thời gian kết thúc</label>
                                        <div class="form-group">
                                            <div class='input-group date' id='datetimepicker2'>
                                                <input id="timeend" type='text' class="form-control" ng-model="timeend" disabled/>
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label>Giá</label>
                                        <input class="form-control " type="number " ng-model="priceTicket" disabled>
                                    </div>
                                    <div class="form-group ">
                                        <label>Điện thoại liên hệ</label>
                                        <input class="form-control " type="number " ng-model="phoneNumber" disabled>
                                    </div>
                                    <div class="form-group ">
                                        <label>Website</label>
                                        <input class="form-control" type="text " ng-model="website" disabled>
                                    </div>
                                    <div class="form-group ">
                                        <label>Email</label>
                                        <input class="form-control" type="email " ng-model="emailAddress" disabled>
                                    </div>
                                    <div class="form-group ">
                                        <label>Ngày tạo</label>
                                        <input class="form-control" ng-model="datecreated" disabled>
                                    </div>
                                    <div class="form-group ">
                                        <label>Ngày chỉnh sửa</label>
                                        <input class="form-control" ng-model="datemodified" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label>Hình ảnh bìa (1 hình)</label>
                                        <div class="thumbnail-box">
                                            <div class="thumnail">
                                                <img class="img-responsive" ng-show="myForm.file.$valid" ngf-thumbnail="thumbnail">
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div id="detailEvent" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chi tiết sự kiện</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <label class="control-label">Tên</label>
                            <input class="form-control" type="text" ng-model="nameEvent" disabled>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Thời gian bắt đầu</label>
                            <div class='input-group date' id='datetimepicker3'>
                                <input id="timebeginEvent" type='text' class="form-control" ng-model="timebeginEvent" disabled/>
                                <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Thời gian kết thúc</label>
                            <div class='input-group date' id='datetimepicker4'>
                                <input id="timeendEvent" type='text' class="form-control" ng-model="timeendEvent" disabled/>
                                <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
