<div class="content-wrapper">
    <section class="content-header">
        <h1>
        Lễ hội
        <small>Bảng điều khiển</small>
      </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Lễ hội</a></li>
            <li class="active">Bảng điều khiển</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="ion ion-plus-round"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Thêm mới lễ hội</span>
                        <a ui-sref="home.festival.new" ui-sref-opts="{reload: true}">Thêm</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12" data-ng-init="countFestival()">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fa  fa-flag"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Lễ hội đang chờ duyệt</span>
                        <span class="info-box-number">{{totalFestival}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12" data-ng-init="countFestivalPublic()">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="fa fa-bullhorn"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Lễ hội đã xuất bản</span>
                        <span class="info-box-number">{{festivalPublic}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12" da-ta-ng-init="countPostToday()">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa  fa-tag"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Lễ hội đã tạo hôm nay</span>
                        <span class="info-box-number">{{festivalToday}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Danh sách lễ hội</h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered table-hover" width="100%" datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="askDelete" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Xóa lễ hội</h4>
                </div>
                <div class="modal-body">
                    <p>Bạn có chắc chắn muốn xóa lễ hội này ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-flat" data-dismiss="modal" ng-click="askDelete()">Đòng ý</button>
                    <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="askPublic" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Xuất bản lễ hội</h4>
                </div>
                <div class="modal-body">
                    <p>Bạn có chắc chắn muốn xuất bản lễ hội này ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-flat" data-dismiss="modal" ng-click="isPublic()">Đòng ý</button>
                    <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="askPinPost" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Ghim lễ hội</h4>
                </div>
                <div class="modal-body">
                    <p>Bạn có muốn ghim lễ hội này ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-flat" data-dismiss="modal" ng-click="isPinned()">Đòng ý</button>
                    <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>
