<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Thông tin lễ hội</h3>
                    </div>
                    <div class="box-body">
                        <div class="box-body">
                            <div class="col-md-6">
                                <div class="row">
                                    <form role="form">
                                        <div class="form-group">
                                            <label>Tên lễ hội</label>
                                            <input class="form-control" type="text" ng-model="title">
                                        </div>
                                        <div class="form-group">
                                            <label>Loại lễ hội</label>
                                            <select id="select2" class="form-control" ng-model="typeEvent">
                                                <option value="{{category._id}}" ng-repeat="category in allCategories">{{category.name}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Thành phố</label>
                                            <select class="form-control" ng-model="city">
                                                <option value="{{province.code}}" ng-repeat="province in allProvinces">{{province.name}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Quận/Huyện</label>
                                            <input class="form-control" type="text" ng-model="district">
                                        </div>
                                        <div class="form-group">
                                            <label>Địa chỉ chi tiết</label>
                                            <textarea class="form-control" type="text" ng-model="mainAddress"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>Mô tả</label>
                                            <textarea rows="2" class="form-control" type="text" ng-model="description"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>Nội dung</label>
                                            <textarea rows="4" class="form-control" type="text" ng-model="content"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>Sự kiện</label>
                                            <a href="" class="pull-right" data-toggle="modal" data-target="#newEvent" ng-click="addEvent()" ng-show="isShowAddEvent"><i class="fa fa-plus" aria-hidden="true"></i>Thêm sự kiện</a>
                                            </br>
                                            <div class="event-item" ng-repeat="event in events">
                                                <div class="well">
                                                    <p ng-model="eventName">{{event.name}}</p>
                                                    <div class="pull-right">
                                                        <a href="" ng-click="askDeleteEvent($index)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <form role="form">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label>Giá</label>
                                            <input class="form-control" type="number" ng-model="priceTicket">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Điện thoại liên hệ</label>
                                            <input class="form-control" type="number" ng-model="phoneNumber">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Website</label>
                                            <input class="form-control" type="text" ng-model="website">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Email</label>
                                            <input class="form-control" type="email" ng-model="emailAddress">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Hình ảnh bìa (1 hình)</label>
                                        <div class="thumbnail-box">
                                            <div class="thumnail">
                                                <img class="img-responsive" ng-show="myForm.file.$valid" ngf-thumbnail="thumbnail">
                                            </div>
                                            <button class="btn btn-danger btn-flat" ng-click="thumbnail = null" ng-show="thumbnail">Remove</button>
                                            <input class="form-control" type="file" ngf-select ng-model="thumbnail" name="file" accept="image/*" required ngf-max-size="2MB" ngf-model-invalid="errorFile">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="alert alert-warning" ng-show="isShowErr">
                                        <strong>Vui lòng điền đầy đủ thông tin</strong>
                                    </div>
                                    <div class="pull-right">
                                        <button class="btn btn-primary btn-flat" ng-disabled="flag" ng-click="createFestival(thumbnail)"><i class="fa fa-floppy-o"></i> Lưu lễ hội </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div id="newEvent" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Tạo sự kiện</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <label class="control-label">Tên sự kiện</label>
                            <input class="form-control" type="text" ng-model="nameEvent">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Ngày bắt đầu</label>
                            <div class='input-group date' id='datetimepicker3'>
                                <input id="datebeginEvent" type='text' class="form-control" ng-model="datebeginEvent" />
                                <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Thời gian bắt đầu</label>
                            <div class='input-group date' id='datetimepicker1'>
                                <input id="timebeginEvent" type='text' class="form-control" ng-model="timebeginEvent" />
                                <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Ngày kết thúc</label>
                            <div class='input-group date' id='datetimepicker4'>
                                <input id="dateendEvent" type='text' class="form-control" ng-model="dateendEvent" />
                                <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Thời gian kết thúc</label>
                            <div class='input-group date' id='datetimepicker2'>
                                <input id="timeendEvent" type='text' class="form-control" ng-model="timeendEvent" />
                                <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-flat" data-dismiss="modal" ng-click="saveEvent()"><i class="fa fa-floppy-o" aria-hidden="true"></i>Lưu sự kiện </button>
                <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
