<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-md-8">
                <!-- AREA CHART -->
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Lễ hội</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered table-hover" width="100%" datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance"></table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Blog</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered table-hover" width="100%" datatable="" dt-options="dtOptionsBlog" dt-columns="dtColumnsBlog" dt-instance="dtInstanceBlog"></table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <div class="col-md-4">
                <!-- Application buttons -->
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Bình luận lễ hội</h3>
                    </div>
                    <div class="box-body">
                        <div class="info-box bg-green">
                            <span class="info-box-icon"><i class="fa fa-bullhorn"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Lễ hội</span>
                                <span class="info-box-number">{{allCommentPost}}</span>
                            </div>
                        </div>
                        <div class="info-box bg-aqua">
                            <span class="info-box-icon"><i class="fa fa-pencil-square-o"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Blog</span>
                                <span class="info-box-number">{{allCommentBlog}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- ask when you want to delete a comment -->
<div class="modal fade" id="askPost" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Xoá Bình </h4>
            </div>
            <div class="modal-body">
                <p>Are you sure ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="askDeleteCommentPost()">Đồng ý</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
            </div>
        </div>
    </div>
</div>

<!-- ask when you want to delete a comment -->
<div class="modal fade" id="askBlog" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Comment Blog</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="askDeleteCommentBlog()">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
